<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="service.iam.host" value="https://iam.cloud.ibm.com"/>
		<add key="service.iam.url" value="/identity/token"/>
		<add key="service.wml.host" value="https://us-south.ml.cloud.ibm.com"/>
		<add key="service.wml.api_key" value="%WML_API_KEY%"/>
		<add key="service.wml.space_id" value="%WML_SPACE_ID%"/>
		<add key="service.wml.version" value="2020-08-07"/>
		<add key="service.platform.host" value="api.dataplatform.cloud.ibm.com"/>
		<add key="wmlconnector.v4.export_path" value="C:/ILOG/tmp"/>
	</appSettings>
</configuration>