<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="wmlconnector.v4.refresh_rate" value="11"/>-->
		<add key="wmlconnector.v4.status_rate" value="666"/>
		<add key="wmlconnector.v4.time_limit" value="2"/>
		<add key="wmlconnector.v4.cplex_format" value=".lp"/>
		<add key="wmlconnector.v4.export_path" value="C:/ILOG/tmp"/>
	</appSettings>
</configuration>